$borderMediumColor: #cccccc;
$borderMediumDarkColor: #C8C8C8;
$borderDarkColor: #A6A6A6;
$foregroundLightColor: #666666;
$foregroundMediumColor: rgba(0, 0, 0, 0.55);
$foregroundSecondaryMediumColor: #333333;
$foregroundDarkColor: #212121;
$anchorHoverColor: rgba(0, 120, 212, 1);
$rowHoverColor: #EFF6FC;
$grayButtonColor: #F4F4F4;
$favoritesIconColor: #FFB902;
$pageDarkBackgroundColor: #F8F8F8;
$boxShadowColor: rgba(0, 0, 0, 0.078);
$warningColor: #D83B01;

// fonts
$fontWeightlightBold: 400;
$fontWeightSemiBold: 600;
$fontFamily: Segoe UI,
Helvetica Neue,
Helvetica,
Arial,
Verdana,
sans-serif;
$textFieldBackgroundColor:#E5E5E5;
$tagBackgroundColor: rgba(0, 0, 0, 0.06);
$gridColumnHightColor: #EFF6FC;
$pageBackgroundColor: #FFFFFF;
$pageHeaderFontColor: rgba(0, 0, 0, 0.9);
$pageSubHeaderFontColor: rgba(0, 0, 0, 0.55);
$normalFontSize: 14px;
$titleFontSize: 28px;
$titleFontWeight: bold;

//image-sizes
$imageIconSize: 16px;

//panel
$panelWidth: 50%;
